<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="/styles/join.css" />
    <script src="/scripts/join.js" defer></script>
    <script src="/scripts/map.js" defer></script>
    <script
      src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"
      defer
    ></script>
    <title>회원가입</title>
  </head>

  <body>
    <%- include("../includes/header") %> <%- include("../includes/aside") %>

    <main id="main-form">
      <h2>PANATA</h2>
      <div id="form-div">
        <form action="sign-up" method="POST" id="join-form">
          <div class="flex-container">
            <label for="user_id" class="form-label"
              >아이디<span class="required">*</span></label
            >
            <input
              type="text"
              name="user_id"
              id="user_id"
              class="form-input"
              placeholder="아이디"
              maxlength="16"
              minlength="4"
              pattern="[a-z0-9]{4,16}"
            />
            <p class="caution">(영소문자/숫자 4-16자)</p>
            <% if (errors && errors.userId) { %>
            <p class="red-caution"><%= errors.userId %></p>
            <% } %>
          </div>

          <div class="flex-container">
            <label for="user_pw" class="form-label"
              >비밀번호<span class="required">*</span></label
            >
            <input
              type="password"
              name="user_pw"
              id="user_pw"
              class="form-input"
              placeholder="비밀번호"
              minlength="8"
              maxlength="16"
              pattern="^^(?=.*[a-zA-Z].*)(?=.*[0-9].*|.*[!@#$%^&*].*).*|(?=.*[0-9].*)(?=.*[!@#$%^&*].*).{8,16}$"
            />
            <p class="caution">
              (영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 8자~16자)
            </p>
            <% if (errors && errors.userPw) { %>
            <p class="red-caution"><%= errors.userPw %></p>
            <% } %>
          </div>

          <div class="flex-container">
            <label for="user_pw_check" class="form-label"
              >비밀번호 재확인<span class="required">*</span></label
            >
            <input
              type="password"
              name="user_pw_check"
              id="user_pw_check"
              class="form-input"
              placeholder="비밀번호 재확인"
            />
            <p class="caution">(동일한 비밀번호를 입력해주세요)</p>
            <% if (errors && errors.userPwCheck) { %>
            <p class="red-caution"><%= errors.userPwCheck %></p>
            <% } %>
          </div>

          <div class="flex-container">
            <label for="user_name" class="form-label"
              >이름<span class="required">*</span></label
            >
            <input
              type="text"
              name="user_name"
              id="user_name"
              class="form-input"
              placeholder="이름"
            />
            <% if (errors && errors.userName) { %>
            <p class="red-caution"><%= errors.userName %></p>
            <% } %>
          </div>

          <div class="flex-container">
            <label for="user_phone" class="form-label"
              >전화번호<span class="required">*</span></label
            >
            <input
              type="text"
              name="user_phone"
              id="user_phone"
              class="form-input"
              placeholder="전화번호 (- 제외)"
              pattern="\d{10,11}"
              required
            />
            <button type="button" id="send-code-btn">인증번호 발송</button>
          </div>

          <div class="flex-container">
            <label for="verification_code" class="form-label"
              >인증번호<span class="required">*</span></label
            >
            <input
              type="text"
              name="verification_code"
              id="verification_code"
              class="form-input"
              placeholder="인증번호 6자리"
              pattern="\d{6}"
              required
            />
            <% if (errors && errors.phone) { %>
            <p class="red-caution"><%= errors.phone %></p>
            <% } %>
          </div>

          <div class="flex-container">
            <label class="form-label"
              >주소<span class="required">*</span></label
            >
            <div class="address-container">
              <input
                type="text"
                id="user_postcode"
                name="user_postcode"
                class="form-input"
                placeholder="우편번호"
              />
              <input
                type="button"
                onclick="user_execDaumPostcode()"
                id="postcode-btn"
                value="우편번호 찾기"
              /><br />
            </div>

            <input
              type="text"
              id="user_address"
              name="user_address"
              class="form-input"
              placeholder="주소"
            /><br />

            <div class="address-container">
              <input
                type="text"
                id="user_detailAddress"
                name="user_detailAddress"
                class="form-input"
                placeholder="상세주소"
              />
              <input
                type="text"
                id="user_extraAddress"
                name="user_extraAddress"
                class="form-input"
                placeholder="참고항목"
              />
            </div>
            <% if (errors && errors.address) { %>
            <p class="red-caution"><%= errors.address %></p>
            <% } %>
          </div>

          <div class="flex-container">
            <label for="user_username" class="form-label">닉네임</label>
            <input
              type="text"
              name="user_username"
              id="user_username"
              class="form-input"
              placeholder="닉네임"
            />
          </div>

          <div id="btn-div">
            <button id="join-btn">회원가입</button>
          </div>
        </form>
      </div>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
