<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/post-edit.css" />
    <script src="/scripts/insert-post.js" defer></script>
    <title>Community</title>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/aside')%>

    <main>
      <h2>게시물 수정</h2>
      <hr id="headline-divide" />
      <div id="form-container">
        <hr class="long-hr" />

        <form action="/my-post/<%= post._id %>/edit" method="POST" enctype="multipart/form-data">
          <div class="container-section">
            <div class="label-container">
              <label for="title" class="form-label">제목</label>
            </div>

            <div class="input-container">
              <input
                type="text"
                name="title"
                id="title"
                value="<%= post.title%>"
                required
              />
            </div>
          </div>

          <hr class="section-divide" />

          <div class="container-section">
            <div class="label-container" id="textarea-container">
              <label for="content" class="form-label">본문</label>
            </div>

            <div class="input-container">
              <textarea
                name="content"
                id="conetnt"
                class="input-container"
                required
              ><%= post.content%></textarea>
            </div>
          </div>

          <hr class="section-divide" />

          <div class="container-section">
            <div class="label-container">
              <label for="img1" class="form-label">첨부파일 1</label>
            </div>
            <div class="input-container">
              <% if (post.img && post.img[0]) { %>
                <p class="current-file">현재 파일: <a href="<%= post.img[0] %>" target="_blank"><%= post.img[0] %></a></p>
              <% } else {%>
              <input type="file" name="img1" id="img1" accept="image/*" />
              <% }  %>
            </div>
          </div>

          <hr class="section-divide" />

          <div class="container-section">
            <div class="label-container">
              <label for="img2" class="form-label">첨부파일 2</label>
            </div>
            <div class="input-container">
              <% if (post.img && post.img[1]) { %>
                <p class="current-file">현재 파일: <a href="<%= post.img[1] %>" target="_blank"><%= post.img[1] %></a></p>
              <% } else {%>
              <input type="file" name="img2" id="img2" accept="image/*" />
              <% }%>
            </div>
          </div>

          <hr class="section-divide" />

          <div class="container-section">
            <div class="label-container">
              <label for="img3" class="form-label">첨부파일 3</label>
            </div>
            <div class="input-container">
              <% if (post.img && post.img[2]) { %>
                <p class="current-file">현재 파일: <a href="<%= post.img[2] %>" target="_blank"><%= post.img[2] %></a></p>
              <% } else {%>
              <input type="file" name="img3" id="img3" accept="image/*" />
              <% }%>
            </div>
          </div>

          <hr class="section-divide" />

          <div class="container-section">
            <div class="label-container">
              <label for="img4" class="form-label">첨부파일 4</label>
            </div>
            <div class="input-container">
              <% if (post.img && post.img[3]) { %>
                <p class="current-file">현재 파일: <a href="<%= post.img[3] %>" target="_blank"><%= post.img[3] %></a></p>
              <% } else {%>
              <input type="file" name="img4" id="img4" accept="image/*" />
              <% }%>
            </div>
          </div>

          <hr class="section-divide" />

          <div class="container-section">
            <div class="label-container">
              <label for="img5" class="form-label">첨부파일 5</label>
            </div>
            <div class="input-container">
              <% if (post.img && post.img[4]) { %>
                <p class="current-file">현재 파일: <a href="<%= post.img[4] %>" target="_blank"><%= post.img[4] %></a></p>
              <% } else {%>
              <input type="file" name="img5" id="img5" accept="image/*" />
              <% }%>
            </div>
          </div>

          <hr class="long-hr" />

          <div id="button-container">
            <a href="/my-post" id="cancel-btn">취소</a>
            <button id="save-btn">변경</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
