<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('../includes/head') %>
    <link rel="stylesheet" href="/styles/mygym-detail.css">
    <title><%= gym.muscles%>'s Day</title>
</head>
<body>  
    <%-include('../includes/header') %>
    <%- include('../includes/aside')%>

    <main>
        <h2>Details</h2>
        <hr>
        <form action="/mygym/<%= gym._id %>/update" method="POST">
            <div id="container">
                <p class="items"><span class="gym-items" id="date"><%= gym.date %></span></p>
                <p class="items"><span class="gym-items"><%= gym.muscles %></span>'s Day</p>
                <p class="items">단백질량 : 약 <span class="gym-items"><%= gym.protein %></span> (g)</p>
        
                <fieldset>
                    <legend id="legend">운동 기록</legend>
                    <textarea name="exercise_content" id="exercise_content"><%= gym.exercise_content %></textarea>
                </fieldset>
        
                <div id="button-container">
                    <button id="update-btn">Update</button>
                </div>
        
                <div id="back-container">
                    <a href="/mygym" id="back"> > Back</a>
                </div>
            </div>
        </form>
    </main>
    <%-include('../includes/footer') %>
    
</body>
</html>