<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head')%>
    <link rel="stylesheet" href="/styles/mygym.css" />
    <script src="/scripts/mygym.js" defer></script>
    <title>운동기록소</title>
  </head>
  <body>
    <%- include('../includes/header')%>
    <%- include('../includes/aside')%>

    <main>
      <h2>운동기록소</h2>
      <hr>
      <div id="grid-container">
        <% for(const gym of gyms) { %>
        <div class="gyms-container">
          <a href="/mygym/<%= gym._id%>" class="gyms-date gyms-item" id="gotodetail"
            >날짜: <%= gym.date %></a
          >
          <p class="gyms-muscles gyms-item">
            <span>운동 부위: </span><%= gym.muscles %>
          </p>
          <p class="gyms-protein gyms-item">
            <span>단백질량: 약</span> <%= gym.protein %> (g)
          </p>
          <div id="delete-div">
            <button class="delete-btn">삭제</button>
          </div>
        </div>
        <% } %>
      </div>

      <div id="gotoadd">
        <a href="/daily">등록하기</a>
      </div>

      <div id="delete-check-overlay">
        <div id="delete-check-container">
          <p id="delete-text">정말 삭제하시겠습니까?</p>
          <div id="btn-container">
            <button class="btn" id="confirm-delete-btn">삭제</button>
            <button class="btn" id="cancel-btn">취소</button>
          </div>
        </div>
      </div>
    </main>
    <%- include('../includes/footer')%>
  </body>
</html>

