<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="/styles/cart.css" />
    <script src="/scripts/cart.js" defer></script>
    <title>장바구니</title>
  </head>
  <body>
    <%- include("../includes/header") %> <%- include('../includes/aside')%>
    <main>
      <h2>장바구니</h2>
      <% if(!cart_items || cart_items.length === 0) { %>
      <p id="empty-cart">장바구니가 비어있습니다.</p>
      <% } else { %> <% for(const cart_item of cart_items) { %>
      <div class="cart-item">
        <a href="/product/<%= cart_item.productId %>">
          <div class="product-img">
            <img src="<%= cart_item.product_img %>" alt="" />
          </div>
        </a>
        <div class="product-detail">
          <p class="product-name"><%= cart_item.product_name %></p>
          <p class="product-color">(<%= cart_item.product_color %>)</p>
          <div class="product-amount-container">
            <p class="amount">수량 :</p>
            <button
              class="minus-btn"
              data-product-id="<%= cart_item.productId %>"
            >
              -
            </button>
            <input
              type="text"
              class="product-amount"
              value="<%= cart_item.product_amount %>"
              data-product-id="<%= cart_item.productId %>"
            />
            <button
              class="plus-btn"
              data-product-id="<%= cart_item.productId %>"
            >
              +
            </button>
          </div>
          <p class="product-price" data-product-id="<%= cart_item.productId %>">
            <%= cart_item.product_price.toLocaleString() %>원
          </p>
          <form action="/delete-cart-item" method="POSt">
            <button class="delete-btn">장바구니에서 삭제</button>
          </form>
        </div>
      </div>
      <% } %>
      <div id="total">
        <p id="total-amount">총 <%= cartTotalAmount.toLocaleString() %>개</p>
        <p id="total-price"><%= cartTotalPrice.toLocaleString() %>원</p>
        <form action="/purchase">
          <button id="purchase-btn">구매하기</button>
        </form>
      </div>
      <% } %>
    </main>
    <%- include("../includes/footer") %>
  </body>
</html>
