<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="/styles/shop.css" />
    <title>상점</title>
  </head>
  <body>
    <%- include("../includes/header") %> <%- include('../includes/aside')%>
    <main>
      <% if(user && user.isAdmin) { %>
      <a id="go-to-upload-product" href="/upload-product">상품 추가</a>
      <% } %>
      <div id="store-container">
        <% for(product of products) { %>
        <a href="/product/<%= product._id%>">
          <div class="product-item">
            <div class="product-image">
              <img src="<%= product.product_img[0]%>" alt="" />
            </div>
            <div class="product-title">
              <p class="product-name"><%= product.product_name %></p>
              <p class="product-color">(<%= product.product_color %>)</p>
              <p class="product-price">
                <%= product.product_price.toLocaleString() %>원
              </p>
            </div>
          </div>
        </a>
        <% } %>
      </div>
    </main>
    <%- include("../includes/footer") %>
  </body>
</html>
