<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/styles/change.css" />
    <title>생일 수정</title>
  </head>
  <body>
    <%- include('../includes/header') %>
    <%- include('../includes/aside')%>
    <main>
      <h2>생일 수정</h2>
      <hr>
      <form action="/change-birth" method="POST">
        <div id="form-container">
          <label for="email">생일</label>
          <input
            type="date"
            name="birth"
            id="birth"
            value="<%= user.birth%>"
          />
          <button id="save-btn">저장</button>
        </div>
      </form>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>
