<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/styles/change.css" />
    <title>닉네임 수정</title>
  </head>
  <body>
    <%- include('../includes/header') %> <%- include('../includes/aside')%>
    <main>
      <h2>PANATA</h2>
      <form action="/change-username" method="POST">
        <div id="form-container">
          <label for="username">닉네임</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="<%= user.username %>"
          />
          <% if (message !== "") { %>
          <p id="caution"><%= message %></p>
          <% } %>
          <div id="button-container">
            <a id="cancel" href="/my-page">취소</a>
            <button id="save-btn">저장</button>
          </div>
        </div>
      </form>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>
