<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/styles/change.css" />
    <title>이름 수정</title>
  </head>
  <body>
    <%- include('../includes/header') %> <%- include('../includes/aside')%>
    <main>
      <h2>PANATA</h2>
      <form action="/change-name" method="POST">
        <div id="form-container">
          <label for="name">이름 수정 </label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="<%= user.name %>"
          />
          <div id="button-container">
            <a id="cancel" href="/my-page">취소</a>
            <button id="save-btn">저장</button>
          </div>
        </div>
      </form>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>
