<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/styles/community.css" />
    <script src="/scripts/post.js" defer></script>
    <title>헬스 뉴스</title>
  </head>
  <body>
    <%- include('../includes/header') %> <%- include('../includes/aside')%>
    <main>
      <div id="caution-container">
        <h3 class="caution">***주의사항***</h3>
        <p class="caution">
          누구나 기분 좋게 참여할 수 있는 커뮤니티를 만들기 위해 커뮤니티
          이용규칙을 제정하여 운영하고 있습니다.
        </p>
        <p class="caution">※ 정치, 사회 관련 행위 금지</p>
        <p class="caution">
          ※ 성별, 종교, 인종, 출신, 지역, 직업, 이념 등 사회적 이슈에 대한 언급
          혹은 이와 관련된 행위 금지
        </p>
        <p class="caution">※ 홍보 및 판매 관련 행위 금지</p>
        <p class="caution">
          ※ 타인의 권리를 침해하거나 불쾌감을 주는 행위 금지
        </p>
        <p class="caution">※ 불법, 범죄 행위 등 범령을 위반하는 행위 금지</p>
        <p class="caution">※ 스포일러, 공포, 속임, 놀라게 하는 행위 금지</p>
      </div>

      <div id="post-container">
        <% posts.forEach((post) => { %>
          <div class="post-items">
            <div class="title-container">
              <div class="post-author-profile">
                <img src="<%= post.authorProfile%>" alt="">
              </div>
              <p class="post-detail">
                <%= post.author %><span class="post-time"><%= post.timeAgo %></span>
              </p>
            </div>
      
            <p class="content" data-post-id="<%= post._id %>"><%= post.content %></p>
      
            <!-- 버튼 -->
            <button
              class="toggle-btn"
              data-post-id="<%= post._id %>"
              onclick="toggleContent('<%= post._id %>')">
              [자세히 보기]
            </button>
      
            <% if (post.img && post.img.length > 0) { %>
              <div
                class="carousel slide"
                data-post-id="<%= post._id %>"
                id="carousel-<%= post._id %>"
              >
                <div class="carousel-indicators">
                  <% post.img.forEach((imgPath, imgIndex) => { %>
                    <button
                      type="button"
                      data-bs-target="#carousel-<%= post._id %>"
                      data-bs-slide-to="<%= imgIndex %>"
                      class="<%= imgIndex === 0 ? 'active' : '' %>"
                      aria-current="<%= imgIndex === 0 ? 'true' : 'false' %>"
                      aria-label="Slide <%= imgIndex + 1 %>"
                    ></button>
                  <% }); %>
                </div>
                <div class="carousel-inner">
                  <% post.img.forEach((imgPath, imgIndex) => { %>
                    <div class="carousel-item <%= imgIndex === 0 ? 'active' : '' %>">
                      <img
                        src="<%= imgPath %>"
                        class="d-block w-100"
                        alt="Image <%= imgIndex + 1 %>"
                      />
                    </div>
                  <% }); %>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carousel-<%= post._id %>"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carousel-<%= post._id %>"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <% } %>

            <div class="post-detail-container">
              <div class="icon-container">
                <img src="/images/basic-like.png" class="like-icon" alt="">
              </div>
              <div class="number-of-likes-container">
                <p class="number-of-likes"><%= post.like%></p>
              </div>
              <div class="icon-container">
                <img src="/images/basic-like.png" class="hate-icon" alt="">
              </div>
              <div class="icon-container">
                <a href="/community/<%= post._id%>">
                  <img src="/images/comment.png" class="comment-icon" alt="">
                </a>
              </div>
              <div class="number-of-comments-container">
                <p class="number-of-comments"><%= post.commentCount %></p>
              </div>
            </div>
          </div>
        <% }); %>
      </div>      

      <div id="gotoadd">
        <a href="/insert-post">글쓰기</a>
      </div>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>
